.account-information {
  overflow-x: hidden;
  max-width: 100%;
}

.profile-picture {
  border-radius: 50%;
  max-width: 250px;
  position: relative;
}

.account-pfp {
}
.account-infomation {
}

.edit-pencil-icon {
  position: absolute;
  width: 40px;
  transform: translate(-100%, -250%);
  cursor: pointer;
}

#username-add,
#password-add,
#email-add,
#bio-add {
  border: none;
  outline: none;
  background: #f0f0f0;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.3em;
}

#bio-add {
  overflow-y: auto;
  resize: none;
}

.edit-feature,
.view-feature {
  width: 25px;
  margin-left: 0.5em;
}

.account-information {
  user-select: none;
}

.feature-icon {
  cursor: pointer;
}

/* C S S   F O R   T O O L T I P S */

/* CHANGE PROFILE PICTURE TOOLTIP */

/* Tooltip container */
.tltp {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tltp .tltptext {
  visibility: hidden;
  width: max-content;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #81b73c;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  transform: translate(-55%, -450%);

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 1s ease;
}

/* Show tooltiptext on mouseover */
.tltp:hover .tltptext {
  visibility: visible;
  opacity: 0.8;
}

/* CHANGE USERNAME/PASS TOOLTIP */

/* Tooltip container */
.tltp-feature {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tltp-feature .tltptext-feature {
  font-size: 1rem;
  visibility: hidden;
  width: max-content;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #81b73c;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  transform: translate(10%, 0%);

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 1s ease;
}

/* Show tooltiptext on mouseover */
.tltp-feature:hover .tltptext-feature {
  visibility: visible;
  opacity: 0.8;
}

/* M E D I A   Q U E R I E S */

@media screen and (max-width: 760px) {
  .aibf2u {
    flex-direction: column;
  }
}
